table, th, td {
    border:1px solid black;
  }
.table{
  table-layout: fixed;
  margin: auto;
   width: 100% ; 
   margin-top: 90px;

}  
#form-outer {
  background-color: rgb(250, 250, 250);
  margin: 0 auto;
  border-radius: 6px;
  width: 75%;
  max-width: 900px;
  padding: 10px;
  padding-top: 50px;
}